.Pagination {
  margin: $space7 auto 0;
}

.PaginationList {
  column-gap: $space4;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: $space2;

  &__Item {
    cursor: pointer;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}
