.Pagination {
  margin: 32px auto 0;
}

.PaginationList {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;

  &__Item {
    cursor: pointer;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}
