<table class="TableList" id="episodes-table">
    <tbody *ngIf="episodesCall?.results">
        <tr *ngFor="let e of episodesCall.results" class="TableList__Item">
            <td class="TableList__ItemCell">{{e.name}}</td>
            <td class="TableList__ItemCell">{{e.episode}}</td>
        </tr>
    </tbody>
</table>

<nav aria-label="pagination" class="Pagination">
    <ul class="PaginationList">
        <ng-container *ngIf="pages">
            <li class="PaginationList__Item" *ngFor="let p of pages" [ngClass]="{'active': (p === currentPage)}"
                (click)="getEpisodes(p)" tabIndex="0">{{p}}</li>
        </ng-container>
    </ul>
</nav>