<table class="TableList">
    <tbody *ngIf="episodesCall?.results">
        <tr *ngFor="let e of episodesCall.results" class="TableList__Item">
            <td class="TableList__ItemCell">{{e.name}}</td>
            <td class="TableList__ItemCell">{{e.episode}}</td>
        </tr>
    </tbody>
</table>

<ng-container *ngIf="pages" class="Pagination">
    <span *ngFor="let p of pages" [ngClass]="{'active': (p===currentPage)}" (click)="getEpisodes(p)"
        class="PaginationItem" tabIndex="0">{{p}}</span>
</ng-container>