// Creating the base variables as CSS variables.
// This leverages native (modern) browser technology for variable rendering,
// debugging (e.g. Chrome developer tools), and usage with JavaScript.
//
// To avoid collision with external styles (e.g. Chrome extensions or
// 3rd party libraries), we'll prefix all our variables with the namespace
// of the application. In our case, "ram", (Rick and Morty).
:root {
  // COLORS
  --ram--black: #000000;
  --ram--white: #ffffff;
  --ram--primary: #7b68ee;
  --ram--background-1: #1e272e;
  --ram--background-2: #2b343b;
  --ram--background-3: #384047;
  --ram--background-inverse: #ffffff;
  --ram--text-1: #ffffff;
  --ram--text-2: #abaeb0;
  --ram--text-3: #7c828d;
  --ram--text-inverse: #292d34;
  --ram--border1: #384047;
  // TYPOGRAPHY
  --ram--font-serif: 'GothamPro', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --ram--font-size-1: calc(64 / 16 * 1rem);
  --ram--font-size-2: calc(36 / 16 * 1rem);
  --ram--font-size-3: calc(32 / 16 * 1rem);
  --ram--font-size-4: calc(18 / 16 * 1rem);
  --ram--font-size-5: calc(16 / 16 * 1rem);
  --ram--font-weight-normal: 400;
  --ram--font-weight-semibold: 500;
  --ram--font-weight-bold: 700;
  --ram--line-height-0: 0;
  --ram--line-height-1: 1; // e.g. 16px
  --ram--line-height-2: 1.125; // e.g. 18px
  --ram--border-radius-0: 0px;
  --ram--border-radius-1: 3px;
  --ram--border-radius-2: 6px;
  --ram--border-radius-3: 10px;
  --ram--border-radius-10: 100px;
  --ram--shadow-0: 0 0 0 rgba(0, 0, 0, 0);
  --ram--shadow-1: 0px 1px 3px rgba(0, 0, 0, 0.11);
  // LAYOUT
  // Could use SCSS loop to generate this.
  // Going to hard code to start for overall simplicity.
  --ram--spacing-base: 5px;
  --ram--space-0: calc(var(--ram--spacing-base) * 0);
  --ram--space-1: calc(var(--ram--spacing-base) * 1);
  --ram--space-2: calc(var(--ram--spacing-base) * 2);
  --ram--space-3: calc(var(--ram--spacing-base) * 3);
  --ram--space-4: calc(var(--ram--spacing-base) * 4);
  --ram--space-5: calc(var(--ram--spacing-base) * 5);
  --ram--space-6: calc(var(--ram--spacing-base) * 6);
  --ram--space-7: calc(var(--ram--spacing-base) * 7);
  --ram--space-8: calc(var(--ram--spacing-base) * 8);
  --ram--space-9: calc(var(--ram--spacing-base) * 9);
  --ram--space-10: calc(var(--ram--spacing-base) * 10);
  --ram--space-11: calc(var(--ram--spacing-base) * 11);
  --ram--space-12: calc(var(--ram--spacing-base) * 12);
  --ram--space-13: calc(var(--ram--spacing-base) * 13);
  --ram--space-14: calc(var(--ram--spacing-base) * 14);
  --ram--space-15: calc(var(--ram--spacing-base) * 15);
  --ram--space-16: calc(var(--ram--spacing-base) * 16);
  --ram--space-17: calc(var(--ram--spacing-base) * 17);
  --ram--space-18: calc(var(--ram--spacing-base) * 18);
  --ram--space-19: calc(var(--ram--spacing-base) * 19);
  --ram--space-20: calc(var(--ram--spacing-base) * 20);
}
