// SCSS variables are still useful, even though we have native CSS variables,
// because it is simply to reference the CSS variables with more concise
// SCSS variables.

// COLORS
$black: var(--ram--black);
$white: var(--ram--white);
$primary: var(--ram--primary);
$background1: var(--ram--background-1);
$background2: var(--ram--background-2);
$background3: var(--ram--background-3);
$backgroundInverse: var(--ram--background-inverse);
$text1: var(--ram--text-1);
$text2: var(--ram--text-2);
$text3: var(--ram--text-3);
$textInverse: var(--ram--text-inverse);
$border1: var(--ram--border1);

// TYPOGRAPHY
$fontSerif: var(--ram--font-serif);
$fontSize1: var(--ram--font-size-1);
$fontSize2: var(--ram--font-size-2);
$fontSize3: var(--ram--font-size-3);
$fontSize4: var(--ram--font-size-4);
$fontSize5: var(--ram--font-size-5);
$fontWeightNormal: var(--ram--font-weight-normal);
$fontWeightSemibold: var(--ram--font-weight-semibold);
$fontWeightBold: var(--ram--font-weight-bold);
$lineHeight0: var(--ram--line-height-0);
$lineHeight1: var(--ram--line-height-1);
$lineHeight2: var(--ram--line-height-2);

// EFFECTS
$borderRadius0: var(--ram--border-radius-0);
$borderRadius1: var(--ram--border-radius-1);
$borderRadius2: var(--ram--border-radius-2);
$borderRadius3: var(--ram--border-radius-3);
$borderRadius10: var(--ram--border-radius-10);
$shadow0: var(--ram--shadow-0);
$shadow1: var(--ram--shadow-1);

// LAYOUT
$appWidth: 1004px;
