@import '../styles/variables';

.HeroBanner {
  align-items: center;
  background: $white;
  display: flex;
  height: 50vh;
  justify-content: center;
  max-height: 260px;
  min-height: 160px;
  overflow: hidden;
  position: relative;

  &__Title {
    color: $textInverse;
    font-size: clamp($fontSize4, $fontSize1, 8vw);
    font-weight: $fontWeightBold;
    position: relative;
    z-index: 1;
  }

  &__Image {
    bottom: 0;
    height: 95%;
    left: 50%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    user-select: none;
  }
}

.Navigation {
  display: flex;
  font-size: $fontSize3;
  margin: 56px 0 78px;
}

.NavigationList {
  align-items: center;
  display: flex;
  gap: 45px;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  &__Link {
    color: $text2;

    &.active {
      color: $text1;
      font-weight: $fontWeightSemibold;
    }
  }
}
