<div class="AppContainer">
  <a class="HeroBanner" routerLink="/characters">
    <h1 class="HeroBanner__Title">
      The Rick and Morty
    </h1>
    <img role="presentation" class="HeroBanner__Image" src="/assets/images/hero-image.svg" />
  </a>


  <div role="navigation" aria-label="Navigation" class="Navigation">
    <ul class="NavigationList">
      <li class="NavigationList__Item">
        <a class="NavigationList__Link" routerLink="/characters"
          [queryParams]="{ fromPage : characterPage, nameSearch : characterNameSearch }"
          routerLinkActive="active">Characters</a>
      </li>
      <li class="NavigationList__Item">
        <a class="NavigationList__Link" routerLink="/episodes" routerLinkActive="active">Episode
          Guide</a>
      </li>
    </ul>
  </div>

  <div class="Container">
    <router-outlet></router-outlet>
  </div>
</div>