@import '../../styles/variables';

.ListSearch {
  display: flex;
  gap: $space5;
  margin-bottom: $space8;

  &__Input {
    background: $white;
    border-radius: $borderRadius2;
    border: none;
    color: $textInverse;
    display: flex;
    flex: 1;
    line-height: $lineHeight2;
    padding: 12px $space3;
    width: 100%;

    &::placeholder {
      color: $text3;
    }
  }

  &__Button {
    background: $primary;
    border-radius: $borderRadius2;
    border: none;
    color: $white;
    font-weight: $fontWeightSemibold;
    line-height: $lineHeight2;
    padding-left: $space16;
    padding-right: $space16;
  }
}
