<div class="ListSearch">
    <input class="ListSearch__Input" name="name-search" placeholder="Search By Name" type="text" autocomplete="off"
        [(ngModel)]="searchTerm" />
    <button class="ListSearch__Button" (click)="getCharacters(1)">Search</button>
</div>

<table *ngIf="characterCall" class="TableList">
    <tbody *ngIf="characterCall.results">
        <tr class="TableList__Item" *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]"
            [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">
            <td class="TableList__ItemCell">{{c.name}}</td>
            <td class="TableList__ItemCell">{{c.species}}</td>
            <td class="TableList__ItemCell">{{c.status}}</td>
            <td class="TableList__ItemCell">{{c.gender}}</td>
        </tr>
    </tbody>
</table>

<nav aria-label="pagination" class="Pagination">
    <ul class="PaginationList">
        <ng-container *ngIf="pages">
            <li class="PaginationList__Item" *ngFor="let p of pages" [ngClass]="{'active': (p === currentPage)}"
                (click)="getCharacters(p)" tabIndex="0">{{p}}</li>
        </ng-container>
    </ul>
</nav>